﻿<!DOCTYPE html>
<html>

    <style>
    </style>

<head>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true"/>
    <title>Javier Carpio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    
</head>

<body>
    <header class="header">
            <nav class="navbar-inverse" role="navigation">
                <div class="">
                    <a class="navbar-brand logo"><b>Javier Carpio</b></a>
                </div>
                <div class="navbar-brand2">
                    <a class="space" href="#PI" style="text-decoration:none">Personal Information</a>
                    <a class="space" href="#Who" style="text-decoration:none">Who am I?</a>
                    <a class="space" href="#achievement" style="text-decoration:none">Achievements</a>
                    <a class="space" href="#skills" style="text-decoration:none">Skills</a>
                    <a class="space" href="#ambitions" style="text-decoration:none">Ambitions</a>
                </div>
            </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
