﻿@{
    ViewData["Title"] = "Home Page";
}
<html>
<body class="fondo">
    <section id="PI" class="top">
        <br><br><br><br>
        <div>
            <div><br><img class="sizes" src="\images\Javier1.JPG" alt="No me pude abrir :("></div>
            <h1 class="titles">Personal Information</h1>
            <p class="texts"><strong>E-mail:</strong> car17077@uvg.edu.gt</p>
            <br>
            <p class="texts"><strong>Birthday:</strong> 01/30/1999</p>
            <br>
            <p class="texts"><strong>Nacionality:</strong> Guatemala</p>
            <br>
            <p class="texts"> Graduate of Liceo Javier and student at Universidad del Valle de Guatemala.</p>
        </div>
    </section>
    <section id="Who"></section>


    <br>
    <section>
        <div>
            <br>
            <hr>
            <h1 class="titles">Who am I?</h1>
        </div>
        <div>

            <div class="col-8-left">
                <br><br>
                <p class="texts">- My name is Hector Javier Carpio Garcia.</p>
                <p class="texts">- I was born in Guatemala, and my parents are: Fabian Carpio and Sandra Garcia.</p>
                <p class="texts">- My siblings are: Jonathan Carpio and Sharlin Carpio.</p>
                <p class="texts">- I'm an organized person, kind, responsible and capable to lead people.</p>
                <br><br><br><br>
            </div>
            <div class="col-4-right">
                <div class="imagen">
                     <img class="estilo" src="\images\fam2.JPG" alt="Tengo un gemelo">
                </div>
            </div>
        </div>
    </section>
    <div class="row"></div>
    <hr>

    <section id="quote" class="quotes">
        <h2 class="quotess">A happy life is one spent in learning, earning, and yearning.</h2>
        <h4 style="font-family:'Shadows Into Light', cursive; font-size:150%">- Lilian Gish</h4>
    </section>

    <section id="achievement"></section>
    <br>
    <hr>
    <section>
        <div class="col-5-left">
            <br>
            <h1 class="titles">Achievements</h1>
            <br>
            <p class="texts"><strong>2011:</strong> 1st. place on Mini-Competition in Math.</p><br>
            <p class="texts"><strong>2012:</strong> 3rd. place on Departmental Competition in Math.</p><br>
            <p class="texts"><strong>2013:</strong> 4th. place on National Competition in Math.</p><br>
            <p class="texts"><strong>2014:</strong> 3rd. place on Departmental Competition in Math.</p><br>
            <p class="texts"><strong>2016:</strong> UVG Scholarship, Magis Ignaciano Award and a Bachelor in Science and Letters.</p><br>

            <section id="quote2" class="quotes">
                <h2 class="quotess">Try to be a rainbow in someone's cloud.</h2>
                <h4 style="font-family:'Shadows Into Light', cursive; font-size:150%">- Maya Angelou</h4>
            </section>
        </div>
    </section>

    <section id="skills"><br><br></section>

    <section>
        <div class="col-6-right">
            <br>
            <h1 class="titles">Skills</h1>
            <br>

            <p class="texts">English knowledge:</p>
                <div id="progressbar">
                    <div style="width:70%"></div>
                </div>

                <p class="texts">Spanish knowledge:</p>
                <div id="progressbar">
                    <div style="width:95%"></div>
                </div>

                <p class="texts">Java:</p>
                <div id="progressbar">
                    <div style="width:60%"></div>
                </div>

                <p class="texts">Python:</p>
                <div id="progressbar">
                    <div style="width:50%"></div>
                </div>

                <p class="texts">HTML5:</p>
                <div id="progressbar">
                    <div style="width:50%"></div>
                </div>

                <p class="texts">How to play the piano:</p>
                <div id="progressbar">
                    <div style="width:70%"></div>
                </div>
            </div>
    </section>

    <div class="row"></div>

    <section id="ambitions"></section>
    <br>

    <section >

        <br>
        <hr>
        <h1 class="titles">Ambitions</h1>

        <div class="row">
            <div class="col-4-left">
                <br><br><br>
                <p class="texts">- I want to travel around the world.</p>
                <p class="texts">- I want to create app's for games or to companies, like IMEXPOS, S.A.</p>
                <p class="texts">- Get a job that I can be happy on it, where I can achieve money and do what I want.</p>
                <p class="texts">- Improve my piano techniques.</p>
            </div>

            <div class="col-4-right">
                <br><br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="tamano" src="\images\viaje1.JPG" alt="Tengo un gemelo" width="350" height="350" Padding="50px">
                        </div>
                        <div class="item">
                            <img class="tamano" src="\images\viaje2.JPG" alt="Tengo un gemelo" width="350" height="250" Padding="50px">
                        </div>
                        <div class="item">
                            <img class="tamano" src="\images\viaje3.JPG" alt="Tengo un gemelo" width="350" height="350" Padding="50px">
                        </div>
                        <div class="item">
                            <img class="tamano" src="\images\viaje4.JPG" alt="Tengo un gemelo" width="350" height="350" Padding="50px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4-center">
                <br>
                <p class="texts">- Learn two more languages: French and Mandarin.</p>
                <p class="texts">- Keep growing on programming languages.</p>
                <p class="texts">- Take care of my family and have children.</p>
                <p class="texts">- Study a math degree.</p>
            </div>
        </div>
    </section>
    <div class="row"></div>
    <br>
    <div class="row"></div>
    
    <hr>
    <section id="foot">
        <div class="row">
            <div class="col-md-2">
                <br>
                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Contact me.</button>

                <div id="id01" class="modal">

                <form class="modal-content">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="\images\javi.JPG" alt="Avatar" class="avatar">
                    </div>

                    <div class="containerInfo">
                        <label><b>Name</b></label>
                        <input type="text" placeholder="Enter your name" name="uname" required>

                        <label><b>Last name</b></label>
                        <input type="text" placeholder="Enter your last name" name="lname" required>

                        <label><b>Email</b></label>
                        <input type="text" placeholder="Write your email" name="email" required>

                        <label><b>Comments</b></label>
                        <input type="text" placeholder="Write me something" name="comment" required>

                    </div>
                    <div class="containerInfo">
                        <button onclick="" style="align-content: center">Enviar</button>
                    </div>
                </form>
                </div> 
            </div>
            <div class="col-md-2">
                <h3 class="titles">O, sigueme en:</h3>
            </div>

            <div class="col-md-8">
                <a class="fa fa-facebook" href="https://www.facebook.com/javier.carpio.528"></a>
                <a class="fa fa-twitter" href="https://twitter.com/Carpio_Javi"></a>
                <a class="fa fa-google"></a>
                <a class="fa fa-youtube"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/javier_carpio57/"></a>
                <a class="fa fa-snapchat-ghost"></a>
            </div>
        </div>
    </section>

    <br><br><br>
    <section>
        <button type="button" onclick="javascript:dispositivo();">Ver dispositivo utilizado.</button>
        <div id="disp" style="opacity:0">
            <br><br>
            <h5>Hello!</h5>
            <p>
                <output type="text" id="resultado"></output>
            </p>
        </div>
    </section>
</body>



</html>