﻿@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Supermercado+One);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

input[type=text]{
    width: 100%;
    height: 5%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

#progressbar {
    background-color: black;
    border-radius: 13px;
    padding: 2px;
}

#progressbar > div {
    background-color: #02C39A;
    height: 20px;
    border-radius: 13px;
}
div.textos{
    align-content: center;
}
.row::after{
    content: "";
    clear: both;
    display: block;
}
.col-6-left{
    width: 50%;
    float: left;
}
.col-5-left{
    width: 42%;
    float: left;
}
.col-6-right{
    width: 50%;
    float: right;
}
.col-8-left{
    width: 60%;
    float: left;
}
.col-4-right{
    width: 30%;
    float: right;
}
.col-4-left{
    width: 60%;
    float: left;
}
.col-4-center{
    margin-left: 0%;
    margin-right: 0%;
    float: left;
    width: 60%;
}
.col-3-right{
    width: 30%;
    float: right;
}
hr{
    border-top: 2px solid #111F4D; 
   border-bottom: 2px dashed #111F4D; 
   border-left:none; 
   border-right:none; 
   height: 3px;
}
.header .navbar {
    background: transparent !important;
}
.navbar-inverse .navbar-nav > li > a {
	color: #FFB8B8;
}
.estilo{
    margin-top: -50px;
    width: 350px;
    height: 350px;
    padding: 50px;
}

.header .navbar-brand {
    float: left;
    padding: 20px;
    line-height: 30px;
    height: 30px;
}
.navbar-brand b{
    color: #fff;
	font-family: 'Pacifico', cursive;
    font-weight: 400;
}
.navbar-brand2{
    float: right;
    padding: 20px;
}
.logo {
    font-size: 2.2em;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 1.2em;
    margin: 17px;
}

.header .navbar-nav > li > a {
    text-transform: uppercase;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1%;
}
a.space{
    padding: 5px;
    font-family: 'Supermercado One', cursive;
    font-size: 150%;
    color: #fefefe;
}
.header {
    position: fixed;
    width: 100%;
    background: #0881A3;
    top: 0px;
    left: 0px;

}

button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #4CAF50;
    color: green;
    text-align: center;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}
.imgcontainer {
    text-align: center;
    margin: 15px 0 6px 0;
    position: relative;
}

img.avatar {
    width: 25%;
    border-radius: 50%;
}
.containerInfo {
    padding: 15px;
}

span.psw {
    float: right;
    padding-top: 16px;
} 

.modal {
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 30px;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 70%;
    height: 90%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.fa {
padding: 20px;
font-size: 30px;
width: 80px;
text-align: center;
text-decoration: none;
margin: 5px 8px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-google {
background: #dd4b39;
color: white;
}
.fa-youtube {
background: #bb0000;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
.fa-snapchat-ghost {
background: #fffc00;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-skype {
background: #00aff0;
color: white;
}
section.quotes{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #7BCECC;
    background: linear-gradient(#7BCECC, #36626A);
    border-radius: 15px;
    text-align: center;
    padding: 0pt;
}
h2.quotess{
    font-family: 'Shadows Into Light', cursive;
    font-size: 200%;
    font-stretch: expanded;
}
div.adjust{
    text-align: right;
    height: 350px;
    width: 350px;
}
div.adjust2{
    text-align: right;
    height: 250px;
    width: 350px;
}
.titles{
    text-align: center;
    font-family: cursive;
}
a.titlesa{
    text-align: center;
    font-family: cursive;
}
.texts{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
}
.sizes{
    padding-right: 20px;
    width:250px;
    height:350px;
    float:left;
    Padding:25px;
}
.tamano{
    width: 350px;
    height: 350px;
}
ul.text, li.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
}
.fondo{
    background: #FFD6A4;
    font-size: 14px;
}
/* Phones */
@media only screen and (max-width: 415px) and (min-width: 0px){
    [class*="col-"]{
        width: 100%;
        margin-left: 0%;
    }
    [class*="header"]{
        background: #40A798;
    }
    [class*="sizes"]{
        width: 70%;
        height: 60%;
        margin-left: 14%;
    }
    [class*="fondo"]{
        background: #FDE9DF;
        font-size: 10px;
    }
    [class*="titles"]{
        font-size: 20px;
    }
    [class*="texts"]{
        font-size: 10px;
    }
}

/* iPad */
/* @media only screen and (min-width: 767px){
    [class*="col-"]{
        width: 100%;
        margin-left: 0%;
    }
    [class*="header"]{
        background: #388E3C;
    }
    [class*="sizes"]{
        width: 88%;
        height: 60%;
        margin-left: 7%;
    }
} */

/* Desktop */
@media only screen and (min-width: 1439px){
    [class*="col-4"]{
        width: 32%;
    }
    [class*="-right"]{
        float: right;
    }
    [class*="-center"]{
        margin-left: 33%;
        margin-right: 0%;
        float: none;
    }
    [class*="-left"]{
        float: left;
    }
    [class*="header"]{
        background: #44558F;
    }
    [class*="sizes"]{
        width: 25%;
        height: 60%;
    }
    [class*="fondo"]{
        background: #ccc;
    }
}
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
